.card {
  display: flex;
  gap: 24px;
  width: 100%;
  min-height: 220px;
  box-sizing: border-box;
  padding: 24px;
  background-color: #f7f7f7;
  border-radius: 16px;
}

.image {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 10px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.name {
  margin: 0 0 8px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #101828;
}

.meta {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}

.price {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
}

.description {
  margin: 16px 0;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.tags {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.tags span {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #e9eaec;
  border-radius: 100px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
}

.showMore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 173px;
  height: 56px;
  margin-top: auto;
  border-radius: 100px;
  background-color: #8ca69d;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-decoration: none;
  transition: background-color 0.2s;
}

.showMore:hover {
  background-color: #788f87;
}

.locationIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.location {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}
