.list {
  width: 100%;
  max-width: 888px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.btnLoadMore {
  align-self: center;
  min-width: 140px;
  height: 44px;
  border: 1px solid #d5d7da;
  border-radius: 100px;
  background-color: #ffffff;
  cursor: pointer;
}
.btnLoadMore:disabled {
  cursor: default;
  opacity: 0.6;
}
